{% extends "base.html" %}
{% block title %}{{ _('Welcome to geneweb-py') }}{% endblock %}

{% block content %}
  <div class="card">
    <h1>{{ _('Welcome to geneweb-py') }}</h1>
    <p class="small-muted">{{ _('Use the links below to explore and manage the family data.') }}</p>
    <div class="nav-links">
      <a class="button" href="/people">{{ _('All people') }}</a>
      <a class="button" href="/families">{{ _('All families') }}</a>
      <a class="button" href="/person/create">{{ _('Create person') }}</a>
      <a class="button" href="/family/create">{{ _('Create family') }}</a>
      <a class="button" href="/change_db">{{ _('Change database') }}</a>
    </div>
  </div>
{% endblock %}
